@model List<ProductCategoryQueryModel>

<div class="col-lg-4">
    <div class="intro-banners">
        @foreach (var item in Model)
        {
            <div class="banner mb-lg-1 mb-xl-2">
                <a asp-page="/ProductCategory" asp-route-id="@item.Slug">
                    <img src="@item.Picture" alt="@item.PictureAlt" title="@item.PictureTitle">
                </a>

                <div class="banner-content text-right">
@*                    <h4 class="banner-subtitle d-lg-none d-xl-block">
                        <a>@item</a>
                    </h4><!-- End .banner-subtitle -->*@
                    <h3 class="banner-title">
                        <a asp-page="/ProductCategory" asp-route-id="@item.Slug">
                           @Html.Raw(item.Name) 
                            </a>
                    </h3>
                    
                    <!-- End .banner-title -->
                    <a asp-page="/ProductCategory" asp-route-id="@item.Slug" class="banner-link">خرید<i class="icon-long-arrow-left"></i></a>
                </div><!-- End .banner-content -->
            </div>

            <!-- End .banner -->
        }


    </div><!-- End .intro-banners -->
</div><!-- End .col-lg-4 -->